<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-success.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <script src="/scripts/redirectPage.js" defer></script>
</head>

<body id="page-success">
    <div id="container">
        <div class="logo-container">
            <img src="/images/icons/success-check-icon.svg" alt="Verificado ícone">
            <h2>Cadastro salvo!</h2>
        </div>

        <p class="success-message">
            Tudo certo, seu cadastro está na nossa lista de professores.
            <br /> 
            Agora é só ficar de olho no seu WhatsApp.
        </p>

        <div class="button-container">
            <a href="/study" class="access">
                Acessar lista
            </a>
        </div>
    </div>
</body>
</html>