:root { 
    font-size: 40%;
}

#page-landing {
    background: var(--color-primary);
}

.logo-container img {
    height: 10rem;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
    color: var(--color-text-in-primary);
}

.hero-image {
    width: 100%;
}

.welcome-message {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    color: var(--color-text-in-primary);
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 44.6rem;
    height: 15.4rem;
    border-radius: 1.8rem;
    font: 700 3.2rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background .2s;
}

.buttons-container a img {
    width: 6rem;
    margin-right: 2.4rem;
}

.buttons-container a.study {
    background: var(--color-primary-ligther);
    margin-right: 1.6rem;
}

.buttons-container a.study:hover {
    background: var(--color-primary-light);
}

.buttons-container a.give-classes {
    background: var(--color-secondary);
}

.buttons-container a.give-classes:hover {
    background: var(--color-secondary-dark);
}

.welcome-message { 
    margin: 1.6rem 0;
}

.total-connections {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-in-primary);
}

.total-connections img {
    margin-left: .8rem;
}

@media (max-width: 699) {
    :root {
        font-size: 40%;
    }
}

@media (min-width: 1100px) {
    #page-landing {
        background: linear-gradient(to bottom, var(--color-primary) 63%, var(--color-lower-background) 37%);
    }

    #page-landing #container {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr  2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: 
        'proffy image image'
        'texting button button ';
        column-gap: 87px;
        row-gap: 125px;
    }

    .logo-container {
        grid-area: proffy;
        text-align: initial;
        align-self: center;
        margin: 0;
    }
    
    .logo-container img{
        height: 100%;
        height: 127px;
    }

    .logo-container h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .hero-image {
        grid-area: image;
        height: 350px;
    }

    .welcome-message {
        grid-area: texting;
        justify-content: flex-start;
        align-items: center;
        font-size: 3rem;
        line-height: 4rem;
        color: var(--color-text-base);
    }

    .welcome-message strong { 
        display: block;    
    }

    .total-connections {
        grid-area: texting;
        justify-self: end;
        font-size: 2rem;
        width: 155px;
        text-align: right;
        color: var(--color-text-complement);
    }

    .buttons-container {
        grid-area: button;
        justify-content: flex-start;
        margin: 0;
    }
}